expstore
data/FashionMNIST
data/ipg_dummy_seizure
demoseizure.ipynb
demotmp.ipynb
__pycache__
arcs/__pycache__
opts/asgm/__pycache__
opts/elpf/__pycache__
opts/asgm/old/*
opts/elpf/testsel_torch.ipynb
opts/elpf/testsel.ipynb
demo3show.ipynb
data/t01
*.yml