expstore
data/CIFAR*
data/FashionMNIST
data/ipg_dummy_seizure
data/D2
demoseizure.ipynb
demotmp.ipynb
__pycache__
arcs/__pycache__
opts/asgm/__pycache__
opts/elpf/__pycache__
arcs/__pycache__
opts/asgm/old/*
opts/elpf/testsel_torch.ipynb
opts/elpf/testsel.ipynb
demo3show.ipynb
demod2.ipynb
jobs
*.nbconvert.ipynb
data/t01
*.yml